In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import sqlite3

In [2]:
co2 = pd.read_csv('CO2_Emissions_1960-2018.csv')
co2.head()
USA = co2[co2["Country Name"]=="United States"]
USA = USA.transpose()
USA = USA[1:]
USA.index = USA.index.astype("int64")

In [9]:
atlantic = pd.read_csv('atlantic.csv')
pacific = pd.read_csv('pacific.csv')
frames = [atlantic, pacific]
hurricanes = pd.concat(frames)
by_year = hurricanes.groupby("ID")["Date"].max()
by_year_df = by_year.to_frame()
print(by_year_df)

              Date
ID
AL011851  18510628
AL011852  18520830
AL011853  18530805
AL011854  18540627
AL011855  18550806
...            ...
EP241990  19901031
EP241992  19921010
EP251992  19921015
EP261992  19921022
EP271992  19921030

[2864 rows x 1 columns]

In [4]:
con = sqlite3.connect("FPA_FOD_20170508.sqlite")
# c = con.cursor()
# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())
fires_df = pd.read_sql_query("SELECT * from Fires", con)
fires_df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [5]:
# print(list(fires_df.columns))
years = fires_df.groupby("FIRE_YEAR")["OBJECTID"].count()
years_df = years.to_frame()
print(years_df.iloc[0])
print(years_df)

OBJECTID    67975
Name: 1992, dtype: int64
           OBJECTID
FIRE_YEAR
1992          67975
1993          61989
1994          75955
1995          71472
1996          75574
1997          61450
1998          68370
1999          89363
2000          96416
2001          86587
2002          75656
2003          68261
2004          69279
2005          88604
2006         114004
2007          95573
2008          85378
2009          78325
2010          79889
2011          90552
2012          72769
2013          64780
2014          67753
2015          74491

In [6]:
atlantic_wind = atlantic.groupby("ID")["Maximum Wind"].max()
pacific_wind = pacific.groupby("ID")["Maximum Wind"].max()

In [7]:
datasets = [years[:2015], USA]
to_analyze = pd.concat(datasets, axis=1)
print(to_analyze[0:24])

      OBJECTID        251
1992   67975.0  19.025082
1993   61989.0  19.238109
1994   75955.0  19.280611
1995   71472.0  19.253938
1996   75574.0   19.61109
1997   61450.0  20.347873
1998   68370.0   20.26688
1999   89363.0   20.10572
2000   96416.0  20.471933
2001   86587.0  20.175005
2002   75656.0  19.449478
2003   68261.0  19.508705
2004   69279.0  19.603573
2005   88604.0  19.478026
2006  114004.0  18.957644
2007   95573.0  19.056027
2008   85378.0  18.294806
2009   78325.0  16.818868
2010   79889.0  17.434196
2011   90552.0  16.599404
2012   72769.0  15.771145
2013   64780.0  16.102958
2014   67753.0  16.026379
2015   74491.0  15.535342